.audience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 27px 22px 22px 24px;
    @include border;

    &__header {
        display: grid;
        grid-template-columns: 1fr 200px 60px 110px;
        grid-column-gap: 6px;
        align-items: center
    }

    .primary__title {
        @include primaryTitle;
    }

    label {
        @include checkText;
    }
}

.audience__graph {
    width: 660px;
}

.audience__date {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: #CACACA;
    text-decoration: none;
}

.audience__date::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    top: 2px;
    right: calc(50% - 60px);
    background-color: #CACACA;
    transform: rotate(45deg);
}

.audience__date::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    top: 2px;
    right: calc(50% - 55px);
    background-color: #CACACA;
    transform: rotate(-45deg);
}

.custom-checkbox {
    display: none;
}

.label-follower::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
    border: 1.5px solid #E786D7;
    border-radius: 5px;
    cursor: pointer;

    transition: .2s;
}

.custom-checkbox:checked + .label-follower::before {
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.22863L4.27277 7L7 1' stroke='%23E786D7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 100%;
}

.label-total::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
    border: 1.5px solid #7F7FD5;
    border-radius: 5px;
    cursor: pointer;

    transition: .2s;
}

.custom-checkbox:checked + .label-total::before {
    background-image: url(../../../src/images/icons/check.svg);
    background-size: 100%;
}